@import 'femtocrank/style.css';

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

food-item div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  gap: 1em;
  border-radius: 1em;
}

food-item div input[type="text"] {
  flex: 1;
}

food-item div input[type="number"] {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 1em;
  width: 60px;
  text-align: center;
}

main food-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main p {
  padding-left: 1em;
}
